*.class
*.DS_Store

/bin/*
/conf/*
/docs/*
/jars/*
/logs/*
/modsrc/*
/reobf/*
/runtime/*
/temp/*

/eclipse/.metadata/
/eclipse/Minecraft/bin/

/src/minecraft/

/lib/argo-2.25.jar
/lib/asm-all-4.0.jar
/lib/asm-debug-all-4.0.jar
/lib/asm-all-4.0-source.jar
/lib/guava-12.0.1.jar
/lib/guava-12.0.1-sources.jar
/lib/bcprov-jdk15on-147.jar

!/jars/coremods/

*.bat
*.sh
CHANGELOG
modlist.txt