*.class
*.DS_Store

/bin/*
/conf/*
/docs/*
/forge/*
/jars/*
/logs/*
/reobf/*
/runtime/*
/temp/*
/lib/*

/eclipse/.metadata/
/eclipse/Minecraft/bin/

/src/minecraft/

!/lib/H2DB.jar
!/lib/mysql-connector-java-bin.jar
!/lib/metrics-R6-FEmod.jar
!/lib/metrics-R7-FEmod.jar
!/lib/worldedit-5.4.6-snapshot.jar
!/lib/pircbotx-1.9.jar

!/jars/coremods/

*.bat
*.sh
*.db
CHANGELOG
modlist.txt