*.class

# Package Files #
*.jar
*.war
*.ear

/bin/*
/conf/*
/docs/*
/eclipse/*
/forge/*
/jars/*
/lib/*
/logs/*
/modsrc/*
/reobf/*
/runtime/*
/temp/*

/src/common/*
/src/minecraft/*
/src/minecraft_server/*

!/src/common/com/
!/src/common/mcmod.info
!/src/minecraft/com/
!/src/common/forgeessentials_at.cfg

*.bat
*.sh
CHANGELOG
LICENSE.txt
modlist.txt