name: Check PRs for Run

on:
  workflow_run:
    workflows: [ "Java CI with Gradle" ]
    types:
      - requested
jobs:
  check:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.event == 'pull_request' }}
    steps:
      - uses: actions/checkout@v2
      - env:
          GH_TOKEN: ${{ github.token }}
        run: |
          sleep 5
          
          PENDING=$(gh api -X GET -H "Accept: application/vnd.github+json" -H "X-GitHub-Api-Version: 2022-11-28" repos/{owner}/{repo}/actions/runs/${{ github.event.workflow_run.id }}/pending_deployments)
          
          if [ "$PENDING" == "[]" ]
          then
            echo Does not need approval
            exit 0
          fi
          
          FILES=$(gh pr view ${{ github.event.workflow_run.pull_requests[0].number }} --json files --jq '.files.[].path')
          if [[ $FILES =~ "gradle" ]]
          then
            echo Protected Files found, unable to approve
            exit 0
          fi
          
          if [[ $FILES =~ ".github" ]]
          then
            echo Protected Files found, unable to approve
            exit 0
          fi
          
          echo Approving Run: ${{ github.event.workflow_run.id }}
          gh api -X POST -H "Accept: application/vnd.github+json" -H "X-GitHub-Api-Version: 2022-11-28" repos/{owner}/{repo}/actions/runs/${{ github.event.workflow_run.id }}/approve
